<div class="footer-container"  >
        <div class="footer-content">
            <div>
                <img src="../../assets/icons/BrandLogo.png" alt="brand logo">
                <p>&copy; Copyright EliteFoods LLC. 2024</p>
            </div>
            <div>
                <h3>Legal</h3>
                <a href="#">Terms of service</a>
                <a href="#">Privacy policy</a>
                <a href="#">Refund policy</a>
                <a href="#">Cookie policy</a>
            </div>
            <div>
                <h3>Socials</h3>
                <a href="#">Facebook</a>
                <a href="#">Instagram</a>
                <a href="#">LinkedIn</a>
                <a href="#">Twitter (X)</a>
                <a href="#">YouTube</a>
                <a href="#">TikTok</a>
            </div>
            <div class="address-container">
                <h3>Contact</h3>
                <address>
                    <p>Address: Chicago, IL, USA, Addison Street 24</p>
                    <p [innerHTML]="'Email: contact@elitefoods.com'"></p>
                    <p>Phone: +1 (0)43 532 5214</p>
                    <p>FAX: 43 543 6547</p>
                    <p>PO Box: Florida, FL, USA
                        Ocean Drive, Miami 54.</p>
                </address>

            </div>
        </div>

    </div>
