body {

    margin: 0;
    background-color: #FFF1C1;

}

.main-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}


.call-to-action-container {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    align-items: center;


    img {
        mix-blend-mode: multiply;
        align-self: center;
    }
    a {
        text-decoration: none;
    }
    a > img {
        height: 23px;
    }
    h1 {
        align-self: center;
        font-size: 48px;
        font-weight: 400;
        margin-top: 48px;
        margin-bottom: 18px;
    }

    p {
        font-size: 20px;
        width: inherit;
        justify-content: space-around;

        display: flex;
        flex-direction: row;
       a {
            display: flex;
           flex-direction: row;
           justify-content: center;
           align-content: center;
           margin-left: 8px;
           color:black;
           font-weight: bold;
           img {
               margin-top: 3px;
               margin-left: 4px;
           }
       }
        a:hover {
            text-decoration: underline;
        }

    }

    .regular {
        width: 200px;
        height: 92px;
        text-align: center;
        box-shadow: rgba(0,0,0,0.4) 0 4px 3px;
        background-color: #FFF3F3 ;
        font-size: 38px;
        display: flex;
        border-radius: 48px;
        img {
            height: 36px;
            margin-top: 10px;
        }
    }

    .regular:hover {
        background-color: #FFFFFF;
        color:#ED0000;
        transition: 0.3s;
        cursor: pointer;
        text-decoration: none !important;
    }
    .regular:active{
        background-color: #ED0000;
        color: #FFF3F3;
        transition: 0s;
    }
}



.about-us-section {
    width: 60%;
    display: flex;
    justify-content: center;
    flex-direction: row;

    img {
        mix-blend-mode: multiply;
        height: 275px;
        object-fit: cover;
        width: 30vw;
    }

    h2 {
        margin-left: calc(15vw - 128px);

        text-align: left;

        font-size: 32px;
        font-weight: 600;
    }
    .section-container {
        display: flex;

        flex-direction: row;
        justify-content: center;

    }
    .text-container {
        text-align: left;
        width: 30vw;
    }
    p {
        margin-left: auto;
        margin-right: auto;
        max-width: 256px;
        max-height: 94px;
    }


}

.main-hero-section {
    width: 60%;

    height: 275px;
    mix-blend-mode: multiply;
    text-align: center;
    display: flex;
    align-items: center;
    flex-direction: column;

    h1 {
        align-self: center;
        font-size: 56px;
        font-weight: 500;
        margin-bottom: 0;

    }
    h2 {
        font-weight: 500;
        margin-top: 0;
    }

    img {
        position: absolute;
        opacity: 0.6;
        mix-blend-mode: multiply;
        display: block;
        text-align: center;
        width: 60vw;
        height: inherit;
        
    }

    div {
        align-self: center;
        margin-top: 32px;
    }
}
.width-fit-content {
 width: fit-content !important;
}
@media only screen and (max-width:1080px) {
    .about-us-section {
        img {
            height: inherit;
        }
        h1, h2 {
            font-size: 24px;
        }
        p {
            font-size: 14px;
        }
        div {
            padding:0;
        }
    }
    .main-container {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .main-hero-section {
        height: 230px;
        h1 {
            font-size: 38px;

        }
        h2 {
           align-self: center;
            font-size: 22px;
        }
    }
    .call-to-action-container {
        h1 {
            font-size: 32px;
        }
    }
}

@media only screen and (max-width: 884px) {

    .main-hero-section{
        width: 80%;
        img { width: 80%;}
        h1 {
            font-size: 32px;

        }
        h2 {
            font-size: 17px;
        }
    }

    .about-us-section {
        div {
            width: 40%;
        }
        h1, h2 {
            margin-left: 0;
            margin-top: 4px;
            margin-bottom: 4px;
        }
        p {
            font-size: 12px;
        }
        width: 100%;
        img {
            width: 40%;
        }
        align-items: center;

    }

}

@media only screen and (max-width: 768px) {
    .main-hero-section{
        width: 100%;
        img { width: inherit;}
        h1 {
            font-size: 30px;

        }
        h2 {
            font-size: 20px;
        }
    }

    .about-us-section {
        div {
            width: 50%;
        }
        h1, h2 {
            margin-left: 0;
            margin-top: 2px;
            margin-bottom: 2px;
        }
        p {
            font-size: 12px;
        }
        width: 100%;
        img {
            width: 50%;
        }
        align-items: center;

    }
}

@media only screen and (max-width: 540px) {
    .main-hero-section{

        height: 180px;
        width: 100%;
        img { width: inherit;}
        h1 {
            font-size: 24px;

        }
        h2 {
            font-size: 15px;
        }
    }

    .about-us-section {
        display: flex;
        flex-direction: column-reverse;
        align-content: center;
        text-align: center;
        .text-container {
            width: 100%;
            padding: 4px 8px;
            text-align: center;

            h1, h2 {
                text-align: center;
            }
        }
        div {
            width: 100%;
            height: fit-content;
            margin-bottom: 16px;
            margin-top: 16px;
        }
        h1, h2 {
            margin-left: 0;
            margin-top: 2px;
            margin-bottom: 2px;
        }
        p {
            font-size: 12px;
            max-width: fit-content;
            padding: 0 8px;
        }
        width: 100%;
        img {
            width: 100%;
            max-height: 180px;
        }
        align-items: center;

    }
    .call-to-action-container {
        text-align: center;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-left: 16px;
        padding-right: 16px;
    }
    .about-us-section:nth-of-type(2){
        flex-direction: column;
    }
}