html{
    background-color: #FFF1C1;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
body{
    margin:0px;
}

main{
    margin: auto;
    margin-top: 50px;
    display: block;
    width: 60%;
}

#new{
    width: 95%;
    margin: auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 40px;
    align-items: center;
    text-align: center;
}
#new input, #new select{
    width: 50%;
    height: 30px;
    border-radius: 15px;
    margin-top: 10px;
    font-size: 17px;
    padding-left: 20px;
}
#new input[type="checkbox"]{
    height: 20px;
    width: 20px;
}
#new input[type="file"]{
    border-radius: 0px;
}
#new label{
    font-size: 20px;
    padding-bottom: 10px;
}
#category_label{
    font-size: 20px;
}
#price{
    -moz-appearance: textfield;
}
#checkboxes{
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding-left: 70px;
    width: 50%;
    margin: auto;
    text-align: left;
}
.alert{
    color: red;
    margin-top: 0px;
    font-size: 15px;
}
#new input[type="submit"]{
    grid-column: 1 / -1;
    display: flex;
    justify-content: center;
    width: 30%;
    margin: auto;
    height: 50px;
    background-color: #ffeeee;
    border: 2px solid #ff3535;
    font-size: 20px;
    color: #ff3535;
    font-weight: bold;

}
#new input[type="submit"]:hover{
    border-color: #ffa0a0;
    text-decoration: underline;
}
hr{
    border: 1px solid black;
    width: 98%;
    margin: auto;
    margin-top: 50px;
    margin-bottom: 50px;
    border-radius: 3px;
}
#products{
    max-height: 300px;
    overflow-y: scroll;

    scrollbar-width: thin;
    scrollbar-color: #888 #f1f1f1;
}
#products::-webkit-scrollbar {
    width: 12px;
}

#products::-webkit-scrollbar-track {
    background: #f1f1f1;
    border-radius: 10px;
}

#products::-webkit-scrollbar-thumb {
    background-color: #888;
    border-radius: 10px;
    border: 2px solid #f1f1f1;
}


.product{
    width: 90%;
    margin: auto;
    background-color: white;
    border-radius: 15px;
    height: 60px;
    padding-left: 50px;
    display: flex;
    justify-content: space-between;
    gap: 10px;
    align-items: center;
    font-size: 20px;
    margin-top: 10px;
}
.product div{
    flex: 1;
    align-items: center;
}
.product img{
    width: 20%;
}
.product button{
    background-color: #ffe4e4;
    border-color: #ffa0a0;
    border-radius: 10px;
    padding: 0px;
    width: 50px;
    height: 40px;
    text-align: center;
}
.product button img{
    width: 46px;
    height: 80%;
    margin: auto;
}
table{
    width: 80%;
    margin: auto;
    margin-bottom: 100px;
}
td{
    width: 20%;
}
td input{
    width: 90%;
}
td input[type="date"]{
    width: 95%;
}
.error-container {
    background-color: #ffe6e6;
    color: #d9534f;
    border: 1px solid #d9534f;
    padding: 15px;
    border-radius: 5px;
    margin-bottom: 20px;
}

.error-container ul {
    padding-left: 20px;
    margin: 0;
}

.error-container li {
    margin-bottom: 5px;
    list-style-type: disc;
}

@media (max-width: 750px){
    #new{display: block;}
    #new input[type="submit"]{width: 50%;margin: auto; margin-top: 20px}
    main{width: 95%; margin: auto}
}

